
checkpoints/AWL_1/latest_net_D.pth
checkpoints/AWL_1/latest_net_G.pth
checkpoints/AWL_2/latest_net_D.pth
checkpoints/AWL_2/latest_net_G.pth
checkpoints/Damselfly_1/latest_net_D.pth
checkpoints/Damselfly_1/latest_net_G.pth
checkpoints/Damselfly_2/latest_net_D.pth
checkpoints/Damselfly_2/latest_net_G.pth
checkpoints/fc_to_fcg/latest_net_D.pth
checkpoints/fc_to_fcg/latest_net_G.pth
checkpoints/fcb_to_fc/latest_net_D.pth
checkpoints/fcb_to_fc/latest_net_G.pth
checkpoints/fmb_to_fcb/latest_net_D.pth
checkpoints/fmb_to_fcb/latest_net_G.pth
checkpoints/GH_1/latest_net_D.pth
checkpoints/GH_1/latest_net_G.pth
checkpoints/GH_2/latest_net_D.pth
checkpoints/GH_2/latest_net_G.pth
